@import '../../../../styles/theme';

.tileContainer {
  margin: 20px;
  max-width: 1440px;

  @media ($media-hd) {
    margin-left: auto;
    margin-right: auto;
  }
}

.tile {
  box-shadow: 0 3px 10px transparentize($color-black, 0.8);
}
