@import '../../../styles/theme';

.backdrop {
  background-color: transparentize($color-black, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.sidebar {
  background-color: $color-white;
  box-shadow: 0 2px 5px transparentize($color-black, 0.5);
  height: 100%;
  max-width: $grid-size * 50;
  width: 80%;
}
