@import '../../../styles/theme';

:host {
  height: 100%;
}

.container {
  align-items: center;
  background-color: transparentize($color-header-background, 0.02);
  display: flex;
  height: 100%;
  padding: 0 $grid-size * 2;
}

.menuIcon {
  @include icon-styles($color-font-primary);
  height: $grid-size * 3;
  width: $grid-size * 3;

  @media ($media-tablet) {
    height: $grid-size * 4;
    width: $grid-size * 4;
  }
}
